<%= form_with(model: order, local: true) do |form| %>
<% if order.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

  <ul>
    <% order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<<<<<<< HEAD
<h3>VOICI LE RECAPITULATIF DE TA COMMANDE</h3>
=======
<h3>Voici la récap</h3>

>>>>>>> 1633745569b5f3dffbd827cca14093ea89fd77b2
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Une image de chat, UNE !"
          data-amount="2000"
          data-locale="auto"></script>
<% end %>
<% end %>
