<%= form_with(model: order, local: true) do |form| %>
<% if order.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

  <ul>
    <% order.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<h3>VOICI LE RECAPITULATIF DE TA COMMANDE</h3>

<%= @cart.total %>
<<<<<<< HEAD

<%= form.submit "valider" %>

<!-- <%= form_tag charges_path do %>
=======
<%= form_tag charges_path do %>
>>>>>>> d035e3df949113f7e81588f9c805ed2f5252777f
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= @price %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Une image de chat, UNE !"
          data-amount="<%= @cart.total * 100 %>"
          data-currency="eur"
          data-locale="auto"></script>
<% end %>
<<<<<<< HEAD
<% end %> -->
=======

<% end %>
>>>>>>> d035e3df949113f7e81588f9c805ed2f5252777f
