<h2>Panier</h2>
<ul>
  <% @cart.line_items.each do |item| %>
  <li><%= item.product.title %>(x <%= item.quantity %>)<span class="badge badge-info"><%= number_to_currency(item.total, unit: "€", separator: ",", format: "%n %u") %></span> </li>
  <% end %>
</ul>

<p class="font-weight-bold">Total : <span class="badge badge-info"><%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %></span></p>
<div class="row">
  <div class="col">
    <%= link_to "Retour aux produits", root_path, class: "btn btn-primary" %>
  </div>
  <% if user_signed_in? %>
  <div class="col">
    <%= button_to "Acheter", new_order_path, method: :get, class: "btn btn-success" %>
  </div>
  <% else %>
  <%= link_to "Connecte toi ou inscrit toi pour payer !", new_user_registration_path, class:"btn btn-danger" %>
  <% end %>
  <div class="col">
    <%= button_to "Vider le panier", @cart, method: :delete, data: {
      confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>
    </div>
  </div>
