<div class="wrapper">

  <div class="left">
    <span class="hvr-wobble-skew"> 
      <%= link_to image_tag("logo.png", alt: "manike-neko", class: "logo", size: 9*9), root_path %>
    </span>
  </div>

  <div class="right">

<!--     <% if user_signed_in? %>
    <a href="devise/registrations#edit"><i class="fas fa-sliders-h" title="profil"></i></a>
    <% else edit_user_registration_path %>
    <% end %>
    <a href="#"><i class="fas fa-sign-in-alt" title="log-in"></i></a>
    <a href="carts#show"><i class="fas fa-shopping-cart" title="panier"></i></a> -->


<%= link_to " ", carts_path, class:"fas fa-shopping-cart", title:"Panier" %>
<% if user_signed_in? %>
  <%= link_to " ", edit_user_registration_path, class:"fas fa-sliders-h", title:"profil" %>
  <%= link_to "Se deconnecter !", destroy_user_session_path, method: :delete, class:"btn btn-danger" %>
  <% else %>
  <%= link_to " ", new_user_session_path, class:"fas fa-sign-in-alt", title:"log-in" %>
  <% end %>
  <% if user_signed_in? %>
  <%= current_user.email %>
<% end %>





    <div class="center">
      <div class="dropdown">
        <button class="dropbtn">Catégorie</button>
        <div class="dropdown-content">
          <div id="all_id_for_jq" href="#">All</div>
          <div id="static_id_for_jq" href="#">Static</div>
          <div id="moving_id_for_jq" href="#">Moving</div>
        </div>
      </div>
    </div>

<!--     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  	Catégorie
	</button> -->
  </div>
</div>









